<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs') %>
    <title>Mis mascotas</title>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
    <main class="bg-info">
            <div class="container pt-3 bg-info">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <table class="table table-striped rounded">
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>especie</td>
                                    <td>raza</td>
                                    <td>Rut Dueño</td>
                                    <td>edad</td>
                                    <td>Peso</td>
                                    <td>id mascota</td>
                                    <td>Accion</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (mascotas) { %>
                                    <% for(var i=0; i < mascotas.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= mascotas[i].nombre_mascota %>
                                            </td>
                                            <td>
                                                <%= mascotas[i].especie %>
                                            </td>
                                            <td>
                                                <%= mascotas[i].raza %>
                                            </td>
                                            <td>
                                                <%= mascotas[i].rut_cliente %>
                                            </td>
                                            <td>
                                                <%= mascotas[i].edad %>
                                            </td>
                                           
                                            <td>
                                                <%= mascotas[i].peso %>
                                            </td>
                                            <td>
                                                <%= mascotas[i].id_mascota %>
                                            </td>
                                            <td>
                                                <a href="/delete/<%= mascotas[i].id_mascota %>" class="btn btn-danger btn-sm">Borrar</a>
                                            </td>
                                           
                                        </tr>
                                        <% } %>
                                            <% } %>
                            </tbody>
                        </table>
                    </div>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>
</html>